<md-card>
  <md-card-title> {{study?.type}}</md-card-title>
  <md-card-subtitle>{{study?.targetClass}}</md-card-subtitle>
  <md-card-content>
  <fieldset>
      <legend>Management</legend>
      <div>
        <div>Name: </div>
        <div>{{study?.name}}</div>
      </div>
      <div>
        <div>Program: </div>
        <div>{{study?.program}}</div>
      </div>
      <div>
        <div>Organization: </div>
        <div>{{study?.organization}}</div>
      </div>
      <div>
        <div>Created on: </div>
        <div>{{study?.createdOn | date:mediumDate}}</div>
      </div>
    </fieldset>
    <br/>
    <fieldset>
      <legend>Research</legend>
      <div>
        <div>Season: </div>
        <div>{{study?.targetSeason}}</div>
      </div>
      <div>
        <div>Mega environment: </div>
        <div>{{study?.targetMegaEnvironment}}</div>
      </div>
      <div>
        <div>Entries: </div>
        <div>{{study?.totalEntries}}</div>
      </div>
      <div>
        <div>Experiments: </div>
        <div>{{study?.totalExperiments}}</div>
      </div>
      <div>
        <div>Checks: </div>
        <div>{{study?.checks}}</div>
      </div>
    </fieldset>

  </md-card-content>
  <md-card-actions *ngIf="study?.id">
    <button md-button color="accent"
      (click)="notYet()">
      <md-icon>history</md-icon>History</button>
    <button md-button color="accent"
      (click)="notYet()">
      <md-icon>security</md-icon>Security</button>
  </md-card-actions>
</md-card>