<md-card>
  <md-card-subtitle>Variables</md-card-subtitle>
  
  <md-card-content>
  <fieldset>
      <legend>Traits</legend>
      <div>
        <div>PH1: </div>
        <div>A crescription</div>
      </div>
      <div>
        <div>PH1: </div>
        <div>A crescription</div>
      </div>
      <div>
        <div>PH1: </div>
        <div>A crescription</div>
      </div>
    </fieldset>
    <br/>
    <fieldset>
      <legend>Environmental</legend>
      <div>
        <div>PH1: </div>
        <div>A crescription</div>
      </div>
      <div>
        <div>PH1: </div>
        <div>A crescription</div>
      </div>
      <div>
        <div>PH1: </div>
        <div>A crescription</div>
      </div>
    </fieldset>
  </md-card-content>

  <md-card-actions *ngIf="study?.id">
    <button md-button color="accent"
      (click)="notYet()">
      <md-icon>history</md-icon>History</button>
    <button md-button color="accent"
      (click)="notYet()">
      <md-icon>security</md-icon>Security</button>
  </md-card-actions>
</md-card>