	<div class="flex-container"
	fxLayout="column"
	fxLayoutAlign="start start">
	<p *ngIf="isEditing">Updating information</p>
	<p *ngIf="!isEditing">Creating new one</p>
	<form #cropsForm="ngForm" (ngSubmit)="onSubmit()">
		<md-input-container hintLabel="{{formErrors['code']}}"
		  dividerColor="{{formErrors['code'] ? 'warn' : 'primary'}}">
			<input mdInput #code name="code" placeholder="code"
			  [disabled]="isEditing"
			  required autocomplete="off" pattern="[\w\.\-_]+"	  
			  maxlength="2"
			  [(ngModel)]="crop.code"/>
			  <md-hint align="end">{{code.value.length}} / 2</md-hint>
		</md-input-container>
		<md-input-container hintLabel="{{formErrors['name']}}"
		  dividerColor="{{formErrors['name'] ? 'warn' : 'primary'}}">
			<input mdInput #name required
			  [(ngModel)]="crop.name"
			  name="name" autocomplete="off" pattern="[\w\s\.\-_]+"
			  placeholder="Name" maxlength="25"/>
			  <md-hint align="end">{{name.value.length}} / 25</md-hint>
		</md-input-container>
		
		<md-select placeholder="Status" name="status" [(ngModel)]="statusId"
		  required="true">
	    <md-option *ngFor="let status of statuses" [value]="status.id">
			  {{status.name}}
			</md-option>
	  </md-select>  


	  <div class="crs-button-bar">
		  <button type="reset" md-button (click)="goBack()">
		  	<md-icon>keyboard_return</md-icon><span>Back</span>
		  </button>
		  <button type="submit" md-raised-button color="accent"
		  	[disabled]="cropsForm.form.invalid">
		  	<md-icon>done</md-icon><span>Save</span>
		  </button>
		</div>
	</form>
</div>