	<div class="flex-container"
	fxLayout="column"
	fxLayoutAlign="start start">
	<p *ngIf="isEditing">Updating information</p>
	<p *ngIf="!isEditing">Creating new one</p>
	<form #programForm="ngForm" (ngSubmit)="onSubmit()">
		<md-input-container class="flex-item" fxFlex="100"
		  hintLabel="{{formErrors['acronym']}}"
		  dividerColor="{{formErrors['acronym'] ? 'warn' : 'primary'}}">
			<input mdInput #acronym name="acronym" placeholder="Acronym"
			  [disabled]="isEditing"
			  required autocomplete="off" pattern="[\w\.\-_]+"	  
			  maxlength="2"
			  [(ngModel)]="program.acronym"/>
			  <md-hint align="end">{{acronym.value.length}} / 2</md-hint>
		</md-input-container>

		<md-input-container  class="flex-item" fxFlex="100"
		  hintLabel="{{formErrors['name']}}"
		  dividerColor="{{formErrors['name'] ? 'warn' : 'primary'}}">
			<input mdInput #name required
			  [(ngModel)]="program.name"
			  name="name" autocomplete="off" pattern="[\w\s\.\-_]+"
			  placeholder="Name" maxlength="25"/>
			  <md-hint align="end">{{name.value.length}} / 25</md-hint>
		</md-input-container>

		<div class="flex-container"
			fxLayout="row"
			fxLayoutAlign="start space-between">
			<div  class="flex-item" fxFlex="50">
				<md-select placeholder="Crop" [(ngModel)]="program.cropId" name="crop" required>
			    <md-option *ngFor="let crop of crops" [value]="crop.id" >
			      {{crop.name}}
			    </md-option>
			  </md-select>
		  </div>

			<div  class="flex-item" fxFlex="50">
				<md-select placeholder="Status" [(ngModel)]="program.statusId" name="status" required>
			    <md-option *ngFor="let status of statuses" [value]="status.id">
			      {{status.name}}
			    </md-option>
			  </md-select>
		  </div>
	  </div>

		<md-input-container  class="flex-item" fxFlex="100"
		  hintLabel="{{formErrors['description']}}"
		  dividerColor="{{formErrors['description'] ? 'warn' : 'primary'}}">
			<textarea mdInput #description pattern="[\w\s\.\-_]+"
			  [(ngModel)]="program.description"
			  name="description" autocomplete="off"
			  placeholder="Description" maxlength="100"></textarea>
			  <md-hint align="end">{{description.value.length}} / 100</md-hint>
		</md-input-container>

		<md-input-container  class="flex-item" fxFlex="100"
		  hintLabel="{{formErrors['externalReference']}}"
		  dividerColor="{{formErrors['externalReference'] ? 'warn' : 'primary'}}">
			<input mdInput #externalReference pattern="\d+" 
			  [(ngModel)]="program.externalReference" maxlength="10" 
			  name="externalReference" autocomplete="off"
			  placeholder="External Reference"/>
			  <md-hint align="end">{{externalReference.value.length}} / 10</md-hint>
		</md-input-container>

	  <div class="crs-button-bar">
		  <button type="reset" md-button (click)="goBack()">
		  	<md-icon>keyboard_return</md-icon><span>Back</span>
		  </button>
		  <button type="submit" md-raised-button color="accent"
		  	[disabled]="programForm.form.invalid">
		  	<md-icon>done</md-icon><span>Save</span>
		  </button>
		</div>
	</form>
</div>