<div class="flex-container"
fxLayout="column"
fxLayoutAlign="start start">
<p *ngIf="isEditing">Updating information</p>
<p *ngIf="!isEditing">Creating new one</p>

<form #statusForm="ngForm" (ngSubmit)="onSubmit()">
	<md-input-container hintLabel="{{formErrors['name']}}"
	  dividerColor="{{formErrors['name'] ? 'warn' : 'primary'}}">
		<input mdInput #name required
		  [disabled]="isEditing"
		  [(ngModel)]="status.name"
		  name="name" autocomplete="off" pattern="[\w\.\-_ ]{1,25}"
		  placeholder="Name" maxlength="25"/>
		  <md-hint align="end">{{name.value.length}} / 25</md-hint>

	</md-input-container>
	<md-input-container 	  hintLabel="{{formErrors['description']}}"
	  dividerColor="{{formErrors['description'] ? 'warn' : 'primary'}}">
		<input mdInput #description name="description" placeholder="Description"
		  required autocomplete="off" pattern="[\w\.\-_ ]{1,100}"	  
		  maxlength="100"
		  [(ngModel)]="status.description"/>
		  <md-hint align="end">{{description.value.length}} / 100</md-hint>
	</md-input-container>
	<div class="crs-button-bar">
	  <button type="reset" md-button (click)="goBack()">
	  	<md-icon>keyboard_return</md-icon><span>Back</span>
	  </button>
	  <button type="submit" md-raised-button color="accent"
	  	[disabled]="statusForm.form.invalid">
	  	<md-icon>done</md-icon><span>Save</span>
	  </button>
	</div>
</form>
