<div>
	<button md-button (click)="back()">
		<md-icon>keyboard_return</md-icon>Back</button>
	<button md-button color="accent" (click)="edit()">
		<md-icon>mode_edit</md-icon>Edit</button>
</div>
<md-tab-group>
  <md-tab label="General">
  	<div class="flex-container"	fxLayout="row" fxLayoutAlign="space-around start">
  		<div class="flex-item" fxFlex="45">
        <crs-study-summary [study]="study"></crs-study-summary>
      </div>	
  		<div class="flex-item" fxFlex="45">
        <crs-study-traits></crs-study-traits>
      </div>
  	</div>
		
  </md-tab>

  <md-tab label="Entries">
  	<crs-study-entries [study]="study"></crs-study-entries>
  </md-tab>

  <md-tab label="Experiments">
  	<crs-study-experiments [study]="study"></crs-study-experiments>
  </md-tab>

  <md-tab label="Observations">
  	<crs-study-observations></crs-study-observations>
  </md-tab>

</md-tab-group>
