<md-sidenav-container>
  <md-sidenav #sidenav mode="over">
    <md-nav-list>
      <template ngFor let-group [ngForOf]="menuGroups">
        <md-divider></md-divider>
        <h1 md-subheader>{{group}}</h1>
        <a *ngFor="let menu of menuData[group]"
          routerLink="{{menu.link}}"
          routerLinkActive="{{menu.active}}"
          (click)="sidenav.toggle()">
          <md-list-item>{{menu.caption}}</md-list-item>
        </a>
      </template>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <h3 (click)="goHome()" class="crs-home">CerBros</h3>
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="login()">Login</button>
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-container>