<div class="flex-container"
	fxLayout="row"
	fxLayoutAlign="start start">
	<div class="flex-item" fxFlex="50">
		<ag-grid-ng2 #agGrid class="ag-material crs-crops-table"
	    [columnDefs]="columns"
		  [gridOptions]="gridOptions"
		  (rowDoubleClicked)="goToDetail()"
	    enableColResize enableSorting
	    rowHeight="48"
	    rowSelection="single"
    ></ag-grid-ng2>
		<div class="buttonAddBox">
	  	<button md-fab class="buttonAdd" (click)="addNew()">
			    <md-icon>add</md-icon>
			</button>
		</div>
	</div>
</div>
