<div>
	<ag-grid-ng2 #agGrid class="ag-material study-grid"
    [columnDefs]="columns"
	  [gridOptions]="gridOptions"
	  (rowDoubleClicked)="goToDetail()"
	  (rowSelected)="setSelected()"
    enableColResize enableSorting enableFilter
    rowHeight="48"
	  rowSelection="single"
	></ag-grid-ng2>
</div>