@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Base styles for Angular Material core
@include mat-core();

// Define the palettes
$crs-app-primary: mat-palette($mat-teal,800,400,200);
$crs-app-accent:  mat-palette($mat-purple, 400, 200, 900);
$crs-app-warn:    mat-palette($mat-deep-orange);

//Theme object
$crs-app-theme: mat-light-theme($crs-app-primary, $crs-app-accent, $crs-app-warn);
@include angular-material-theme($crs-app-theme);

//for error hints in forms
div.mat-hint {
	color: mat-color($crs-app-warn, A400);
}

fieldset {
  border: 1px solid;
  border-radius: 8px;
	border-color: mat-color($crs-app-primary, 200);
}