<div class="flex-container"
	fxLayout="row"
	fxLayoutAlign="space-around start">
  <div class="flex-item" fxFlex="25">
  	<crs-study-summary [study]="studySelection"></crs-study-summary>
  </div>
  <div class="flex-item" fxFlex="70">
  	<crs-study-list (studySelected)="studySelection = $event"></crs-study-list>	
  	<div class="buttonAddBox">
	  	<button md-fab class="buttonAdd" (click)="newStudy()">
			    <md-icon>add</md-icon>
			</button>
		</div>
  </div>
</div> 
