<md-card>
	<md-card-title> Study Name</md-card-title>
	<md-card-subtitle>Study|Trial</md-card-subtitle>
	<md-card-content>
		<form>
			<label>A field</label><div>a value</div>
		</form>
	</md-card-content>
	<md-card-actions>
		<button md-button>Resume</button>
		<button md-button>Distribute</button>
		<button md-raised-button>Advance</button>
	</md-card-actions>
</md-card>